@font-face {
  font-family: "DejaVu Sans";
  src: local("DejaVu Sans"), local("DejaVuSans"),
    url("fonts/dejavusans.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

body {
  background: #a5a9ab;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}

#prevbtn {
  width: 0;
  height: 0;
  border-width: 13px 16px 13px 0;
  border-color: transparent #ffffff transparent transparent;
  border-style: solid;
  filter: drop-shadow(3px 3px 2px #050505);
  cursor: pointer;
}

#nextbtn {
  width: 0;
  height: 0;
  border-width: 13px 0 13px 16px;
  border-color: transparent transparent transparent #ffffff;
  border-style: solid;
  filter: drop-shadow(3px 3px 2px #050505);
  cursor: pointer;
}

#nextbtn:hover,
#prevbtn:hover {
  border-color: transparent transparent transparent #50e4d7;
}

#nextbtn:active,
#prevbtn:active {
  border-color: transparent transparent transparent #161313;
}

#prevbtn:hover {
  border-color: transparent #50e4d7 transparent transparent;
}

#prevbtn:active {
  border-color: transparent #161313 transparent transparent;
}

a.plus {
  position: absolute;
  width: 24px;
  height: 22px;
  top: -7px;
  right: -9px;
  background: url(img/plus.png) no-repeat;
  cursor: pointer;
}

a.plus:hover {
  background: url(img/plus_hover.png) no-repeat;
}

a.plus:active {
  background: url(img/plus_active.png) no-repeat;
}

#slider {
  width: 535px;
  background: rgb(108, 202, 214);
  background: linear-gradient(
    180deg,
    rgba(108, 202, 214, 1) 0%,
    rgba(18, 118, 137, 1) 100%
  );
  border: 3px ridge rgba(18, 118, 137, 1);
  padding: 0px 8px 0px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider_line {
  width: 465px;
  position: relative;
  overflow: hidden;
  margin-left: 3px;
}

.slider_line_container {
  width: 970px;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  transition: ease 1s;
}

.cell4 {
  position: relative;
}

.cell {
  position: relative;
  background: rgb(184, 86, 32);
  background: linear-gradient(
    180deg,
    rgba(184, 86, 32, 1) 0%,
    rgba(156, 71, 25, 1) 29%,
    rgba(156, 71, 25, 1) 68%,
    rgba(184, 86, 32, 1) 100%
  );
  border: 2px ridge #863811;
  border-radius: 7px;
  -webkit-box-shadow: 1px 1px 3px 0px #211e1f;
  box-shadow: 1px 1px 3px 0px #211e1f;
  height: 47px;
  width: 48px;
  margin-right: 11px;
}

.cell img {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 9px;
}

.elemnt {
  position: relative;
  float: left;
  background: rgb(204, 85, 22);
  background: linear-gradient(
    180deg,
    rgba(204, 85, 22, 1) 0%,
    rgba(134, 56, 17, 1) 100%
  );
  border: 3px ridge #863811;
  border-radius: 16px;
  -webkit-box-shadow: 1px 1px 3px 0px #211e1f;
  box-shadow: 1px 1px 3px 0px #211e1f;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  height: 60px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  margin: 10px 4px;
}

#go_forward {
  height: 60px;
  padding: 5px 20px;
  cursor: pointer;
}

#go_forward:hover {
  background: rgb(211, 125, 78);
  background: linear-gradient(
    180deg,
    rgb(214, 59, 32) 0%,
    rgb(122, 21, 8) 100%
  );
  border: 3px ridge #854d3c;
}

#go_forward:active {
  background: rgb(27, 12, 4);
  border: 3px ridge #854d3c;
}

.mail {
  width: 65px;
  height: 60px;
  background: rgb(97, 191, 205);
  background: linear-gradient(
    180deg,
    rgba(97, 191, 205, 1) 0%,
    rgb(28, 119, 138) 100%
  );
  border: 3px ridge rgb(28, 119, 138);
  padding-top: 10px;
  cursor: pointer;
}

.mail:hover {
  background: linear-gradient(
    180deg,
    rgba(168, 212, 219) 0%,
    rgb(62, 127, 139) 100%
  );
  border: 3px ridge rgb(180, 191, 206);
}

.mail:active {
  background: rgb(27, 12, 4);
  border: 3px ridge rgb(180, 191, 206);
}

.chat {
  width: 65px;
  height: 60px;
  background: url(img/chat_btn.png) no-repeat;
  border: none;
  cursor: pointer;
}

.chat:hover {
  background: url(img/chat_btn_hover.png) no-repeat;
}

.raiting_title {
  background: rgb(0, 209, 252);
  background: linear-gradient(
    180deg,
    rgba(0, 209, 252, 1) 0%,
    rgba(0, 141, 170, 1) 100%
  );
  border: 3px ridge #0c92ae;
  border-radius: 16px;
  font-family: DejaVu Sans;
  font-size: 20px;
  color: #fefefe;
  text-shadow: 1px 1px 2px black;
  position: absolute;
  top: -16px;
  left: 138px;
  padding: 0 20px;
}

.raiting_container {
  position: absolute;
  left: 30px;
  top: 68px;
  height: 235px;
  overflow-y: hidden;
}

.raiting_container:hover {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.raiting_container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.raiting_container::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.brwn_box {
  position: absolute;
  /* Абсолютное позиционирование */
  width: 515px;
  /* Ширина блока */
  height: 450px;
  /* Высота блока */
  margin: auto;
  /* Отступ от блока */
  top: 0;
  /* Положение блока от верхнего края */
  bottom: 0;
  /* Положение блока от нижнего края */
  left: 0;
  /* Положение блока от левого края */
  right: 0;
  /* Положение блока от правого края */
  background: #b37a3c;
  /* Цвет фона блока */
  border: 4px solid #8c5f2f;
  border-radius: 15px;
  z-index: 2;
  /* Рамка блока */
  padding: 0;
  /* Отступ внутри блока */
}
.raiting_table {
  width: 460px;
  height: 322px;
  background: #8c5a31;
  border: none;
  border-radius: 15px;
  position: absolute;
  left: 24px;
  bottom: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-top: 30px;
}
.raiting_item_title {
  display: flex;
  width: 402px;
  height: 27px;
  background: rgb(0, 189, 228);
  background: linear-gradient(
    180deg,
    rgba(0, 189, 228, 1) 0%,
    rgba(0, 129, 156, 1) 47%
  );
  border: 3px ridge #0c92ae;
  border-radius: 16px;
  font-family: DejaVu Sans;
  font-size: 12px;
  line-height: 24px;
  color: #fefefe;
}
.raiting_item {
  display: flex;
  width: 402px;
  height: 28px;
  background: rgb(83, 175, 198);
  background: linear-gradient(
    180deg,
    rgba(83, 175, 198, 1) 0%,
    rgba(56, 146, 168, 1) 100%
  );
  border: 3px ridge #60b5ca;
  border-radius: 10px;
  font-family: DejaVu Sans;
  font-size: 13px;
  line-height: 22px;
  color: #fefefe;
  /* text-shadow: 1px 1px 2px black;*/
  margin-bottom: 6px;
}
.friend {
  background: rgb(24, 197, 33);
  background: linear-gradient(
    180deg,
    rgb(83, 198, 92) 0%,
    rgb(65, 168, 56) 100%
  );
  border: 3px ridge #60ca65;
}
.number {
  text-align: center;
  width: 63px;
}
.cellimg {
  width: 35px;
}
.cellimg img {
  position: relative;
  top: -4px;
}
.name {
  width: 220px;
  overflow: hidden;
}
.points {
  width: 75px;
  overflow: hidden;
}
#close_button {
  width: 26px;
  height: 26px;
  background: rgb(0, 141, 170);
  background: linear-gradient(
    180deg,
    rgba(0, 141, 170, 1) 0%,
    rgba(0, 209, 252, 1) 25%,
    rgba(0, 209, 252, 1) 75%,
    rgba(0, 141, 170, 1) 100%
  );
  border: solid 1px #01687d;
  border-radius: 3px;
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
#close_button:hover {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    180deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(249, 30, 34, 1) 25%,
    rgba(253, 29, 29, 1) 75%,
    rgba(135, 57, 175, 1) 100%
  );
}
#close_button:active {
  background: #000;
}
.close {
  float: right;
}
.close:before,
.close:after {
  content: "";
  position: absolute;
  top: 9px;
  left: 4px;
  width: 17px;
  height: 5px;
  background: #fff;
}
.close:before {
  webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close:after {
  webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.blok-center {
  position: absolute;
  /* Абсолютное позиционирование */
  width: 980px;
  /* Ширина блока */
  height: 630px;
  /* Высота блока */
  margin: auto;
  /* Отступ от блока */
  top: 0;
  /* Положение блока от верхнего края */
  bottom: 0;
  /* Положение блока от нижнего края */
  left: 0;
  /* Положение блока от левого края */
  right: 0;
  /* Положение блока от правого края */
  background: url(img/map.png) no-repeat;
  /*background: linear-gradient(180deg, rgba(20, 149, 133, 1) 0%, rgba(0, 107, 95, 1) 100%);*/
  /* Цвет фона блока */
  border: 1px solid #056c60;
  /* Рамка блока */
  padding: 0;
  /* Отступ внутри блока */
  overflow: hidden;
  /* Полоса прокрутки */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
:root {
  --delay: 0ms;
  --path: path(
    "M446.5,504.5c-13.898-4.872-29-11.75-39.677-28.25	c-4.475-6.916-10.153-12.479-18.823-13c-8.604-0.518-19.031,2.881-26.75,5.75c-3.928,1.459-45.188,26.515-66.25,38.75	c-6.821,3.963-37.75,25-65.701,27.409c-11.708,1.009-23.525,2.657-36.17,2.657c-6.105,0-10.807-1.22-16.879-1.816	c-4.165-0.409-32.261-8.339-37.392-11.348c-6.082-3.567-34.005-16.955-38.205-20.349c-4.401-3.556-16.011-11.966-16.404-18.054	c-1.5-23.25,14-17,36.904-34.696c5.162-3.988,4.562-6.539,3-12.5c-1.304-4.977-13.686-11.487-12.654-16.554	c2.75-13.5,11.333-23.689,19.25-28.75c7.75-6.5,13.363-6.685,19-9.75c6.56-3.567,14.289-7.065,21-10.75	c12.551-6.893,26.529-14.813,39.5-20.563c4.629-2.053,16.5-6.688,24.989-17.974c0.295-0.06,6.631-7.699,0.712-16.426	c-5.452-8.038-40.725-26.713-43.452-28.538c-6.588-4.41-61.313-32.554-66.25-38.75c-5.111-6.415-3.011-14.031,4.999-19.095	c6.705-4.237,21.648-8.126,28.001-13.405c8.23-6.84-6.948-14.993-6.5-23.75c0.371-7.243,5.502-14.819,13-16.5	c14.5-3.25,20.185,2.123,23.643,5.947c5.003,5.535,26.016,30.338,26.607,30.803"
  );
}
.wrapper {
  position: relative;
}
.obj {
  offset-path: var(--path);
  offset-rotate: 0deg;
  padding-bottom: 69px;
}
@keyframes move1 {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 11.5%;
  }
}
@keyframes move2 {
  0% {
    offset-distance: 11.5%;
  }
  100% {
    offset-distance: 20.5%;
  }
}
@keyframes move3 {
  0% {
    offset-distance: 20.5%;
  }
  100% {
    offset-distance: 29.75%;
  }
}
@keyframes move4 {
  0% {
    offset-distance: 29.75%;
  }
  100% {
    offset-distance: 38.5%;
  }
}
@keyframes move5 {
  0% {
    offset-distance: 38.5%;
  }
  100% {
    offset-distance: 48.5%;
  }
}
@keyframes move6 {
  0% {
    offset-distance: 48.5%;
  }
  100% {
    offset-distance: 56.35%;
  }
}
@keyframes move7 {
  0% {
    offset-distance: 56.35%;
  }
  100% {
    offset-distance: 64.75%;
  }
}
@keyframes move8 {
  0% {
    offset-distance: 64.75%;
  }
  100% {
    offset-distance: 76.5%;
  }
}
@keyframes move9 {
  0% {
    offset-distance: 76.5%;
  }
  100% {
    offset-distance: 85.8%;
  }
}
@keyframes move10 {
  0% {
    offset-distance: 85.8%;
  }
  100% {
    offset-distance: 97.85%;
  }
}
@keyframes move11 {
  0% {
    offset-distance: 97.85%;
    opacity: 1;
  }
  49% {
    offset-distance: 97.85%;
    opacity: 0;
  }
  50% {
    offset-distance: 0%;
    opacity: 0;
  }
  100% {
    offset-distance: 0%;
    opacity: 1;
  }
}

/*----------модальное окно----------*/
.modal {
  display: none;
  transition: transform 14s ease-out;
}

.shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1; /* поверх всех  кроме окна*/
  background: #000;
  opacity: 0.5; /*прозрачность*/
  left: 0;
  top: 0;
}

.brwn_box {
  animation-name: animate;
  animation-duration: 1.5s;
}

@keyframes animate {
  from {
    top: -720px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
